body {
  background: #19a1ad;
  background-image: url(bg-pattern-top.svg), url(bg-pattern-bottom.svg);
  background-position: -10rem -25rem, 65rem 32rem;
  background-repeat: no-repeat;
  background-size: 55%, 60%;
  font-family: "Kumbh Sans", sans-serif;
}

.circle-top {
  transform: rotate(90deg);
  position: absolute;
  top: -25rem;
  left: -10rem;
}
.circle-bottom {
  position: absolute;
  top: 35rem;
  right: -20rem;
}

.card {
  background: white;
  width: 30rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 15rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.card-top {
  background-image: url(bg-pattern-card.svg);
  height: 10rem;
  border-radius: 15px 15px 0 0;
}

.profile img {
  width: 7rem;
  border-radius: 50%;
  border: 6px solid white;
  position: relative;
  top: -3.7rem;
}
.name {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: -30px;
  margin-bottom: 15px;
}
.age {
  font-weight: 300;
}
.city {
  font-size: 1.2rem;
  font-weight: 300;
}

.card-bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 3rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.card-bottom span {
  font-weight: 300;
}
.num {
  margin: 1rem 0;
}
.num h2 {
  margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
  body {
    /* overflow: hidden; */
    background: cover no-repeat;
  }

  .circle-top,
  .circle-bottom {
    width: 50%;
    height: 50%;
  }

  .card {
    width: 95%;
    border-radius: 20px;
    top: 5rem;
  }
  .num h2 {
    font-size: 1.3rem;
    margin: 25px 0 5px;
  }
  .num span {
    font-size: 1rem;
  }
}

@media screen and (max-width: 360px) {
  .card-bottom {
    display: flex;
    flex-direction: column;
  }
}
